[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pynvim = "*"
pylint = "*"
mypy = "*"
pre-commit = "*"

[packages]
jinja2 = "*"
docopt = "*"
dropt = {editable = true, path = "./"}

[requires]
python_version = "3.8"
